 body {
    background-color: rgb(28, 28, 28);
    color: rgb(215, 217, 220);
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;

    overflow-x: hidden;
    scrollbar-width: none;

    margin-top: 3%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    display: none;
}

.head {
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 35px;
}

.box-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 90%;
}

.userbox {
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border: 1px solid #a4a4a4;
    border-radius: 10px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userbox {
    width: 30%;
    height: 20rem;

    overflow-x: hidden;
}

.userbox h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom:0.08rem;
}

.userbox .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 5px;
}

.info input {
    background-color: transparent;
    border: 1px solid #a4a4a4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    margin-top: 0.8rem;

    height: 1.1rem;
    width: 72%;
    
    color: rgb(215, 217, 220);
    padding: 5px;
}

.info input:focus {
    border: 1px solid #71a7e8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.userbox input[type="submit"] {
    margin-left: 13.5rem;
    border: none;
    background-color: rgb(28, 28, 28);
    color: rgb(125, 161, 216);
    size: 1rem 1rem;
    margin-bottom: 12px;
}

.userbox input[type="submit"]:hover {
    cursor: pointer;
    color: rgb(51, 82, 219);
}

.userbox .btn {
    background-color: transparent;
    border: 1px solid #a4a4a4;
    border-radius: 2px;
    width: 80%;
    color: rgb(215, 217, 220);
    margin-left: 10%;
}

.articlebox {
    /* align-self: flex-start; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid #a4a4a4;
    border-radius: 10px;

    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.articlebox {
    margin-left: 15px;
    width: 69%;
    height: 20rem;

    font-size: 1.1rem;
    overflow-y: auto;
    overflow-x: visible;
}

.articlebox h1 {
    width: 100%;
    height: 1.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: rgb(28, 28, 28);
}

.articlebox .add-new {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 5px;

    background-color: rgb(28, 28, 28);
}

.add-new input[type="file"] {
    margin-top: 1rem;
    width: 12rem;
    opacity: 1;
    border: 1px solid #a4a4a4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    overflow: hidden;
}

.add-new input[type="submit"] {
    border: none;
    font-size: 1rem;
    size: 1.1rem 1.1rem;
    background-color: transparent;
    color: rgb(125, 161, 216);
    margin-left: 1rem;
}

.add-new input[type="submit"]:hover {
    color:rgb(51, 82, 219);
}

.add-new p {
    font-size: 1.1rem;
    margin-right: 10px;
}

.articlebox .article-area {
    width: 100%;
    margin-top: 6rem;
}

.articlebox .article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 5px;

    overflow-x: hidden;
    scrollbar-width: none;
}  

.article .title {
    left: 0;
    margin-left: 5%;
    width: 40%;
}

.article .op {
    left: 0;
    height: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.op input[type="submit"] {
    border: none;
    size: 1rem 1rem;
    background-color: transparent;
    color: rgb(125, 161, 216);
    margin-right: 1rem;
}

.op input[type="submit"]:hover {
    color:rgb(51, 82, 219);
}

.op input {
    background-color: transparent;
    border: 1px solid #a4a4a4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    margin-top: 0.8rem;

    /* height: 1.2rem; */
    width: 3rem;
    
    color: rgb(215, 217, 220);
    padding: 5px;

    margin-right: 0.4rem;
}

.op input:focus {
    border: 1px solid #71a7e8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}



.box-area2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 90%;
    margin-top: 18px;
}

.manage-box {
    /* align-self: flex-start; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid #a4a4a4;
    border-radius: 10px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.manage-box {
    width: 64%;
    height: 20rem;

    font-size: 1.1rem;
    overflow-y: auto;
    overflow-x: visible;

    align-items: stretch;
}

.manage-box h1 {
    width: 100%;
    height: 1.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom:15px;
    background-color: rgb(28, 28, 28);
}

.manage-box .user {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 5px;

    overflow-x: hidden;
    scrollbar-width: none;
}

.user .id {
    width: 7%
}

.user .name {
    left: 0;
    margin-left: 4rem;
    font-size: 1.15rem;
    width: 35%
}

.user .id {
    font-size: 1.15rem
}

.user .op1 {
    left: 0;
    margin-left: 3%;
    width: 70%;
    height: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.op1 .authority {
    width: 100%;
    height: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.authority p {
    width: 6rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.authority input[type="text"] {
    background-color: transparent;
    border: 1px solid #a4a4a4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    margin-top: 0.8rem;

    /* height: 1.2rem; */
    width: 1.5rem;
    
    color: rgb(215, 217, 220);
    padding: 5px;

    margin-right: 0;
}

.authority input[type="text"]:focus {
    border: 1px solid #71a7e8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.authority input[type="submit"] {
    margin-left: 0.3rem;
    border: none;
    background-color: rgb(28, 28, 28);
    color: rgb(125, 161, 216);
    size: 1rem 1rem;
    margin-bottom: 12px;
}

.authority input[type="submit"]:hover {
    cursor: pointer;
    color: rgb(51, 82, 219);
}

.authority input[class="delete"] {
    border: none;
    background-color: rgb(28, 28, 28);
    margin-top: 0.87rem;
    margin-left: 3.5rem;
    color: rgb(206, 83, 83);
}

.authority input[class="delete"]:hover {
    color: rgb(174, 25, 25);
}



.noticebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid #a4a4a4;
    border-radius: 10px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.noticebox {
    margin-left: 14px;
    width: 36%;
    height: 20rem;

    font-size: 1.1rem;
    overflow-y: auto;
    overflow-x: visible;
}

.noticebox h1 {
    width: 100%;
    height: 1.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom:15px;
    background-color: rgb(28, 28, 28);
    color: rgb(215, 217, 220);
}

.noticebox textarea {
    font-size: 1.02rem;
    width: 18rem;
    height:12rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 6px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:none;
    background-color: rgb(28, 28, 28);
    color: rgb(215, 217, 220);
}

.noticebox input[type="submit"] {
    margin-left: 80%;
    left: 0;
    border: none;
    background-color: rgb(28, 28, 28);
    color: rgb(125, 161, 216);
    size: 1rem 1rem;
    margin-bottom: 12px;
}

.noticebox input[type="submit"]:hover {
    cursor: pointer;
    color: rgb(51, 82, 219);
}