body, .container-right, .container-left, .content, .article, .about-box, .inf, .button-right {
    background-color: rgb(28, 28, 28);
    color: rgb(99, 97, 97);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    display: none;
}


.container-left {
    display: flex;
    float: left;
    overflow: visible;
    width: 18%;
    height: 100%;
}

/* 侧边栏 */
.sidebar {
    background-color: rgb(35, 34, 34);
    width: 18%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 35px;
}

.sidebar h1 {
    font-size: 2.8rem;
    font-weight: bolder;
    color: #c6c9c9;
    margin-bottom: 0.1rem;
}

.sidebar p {
    font-size: 1.2rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 152, 152);
    overflow: visible
}

.sidebar .HeadImage {
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}


.sidebar .column-button {
    background-color: rgb(35, 34, 34);
    color: rgb(185, 179, 179);
    font-weight: bolder;
    display: inline-block;
    width: 15rem;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 4px 2px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.column-button:hover {
    background-color: rgb(58, 58, 59);
}

.icon {
    margin-right: 0.5rem;
}



.container-right {
    display: flex;
    float: right;
    overflow: hidden;
    position: static;
    width: 18%;
    height: 100%;
}

.search-box {
    background-color: rgb(28, 28, 28);
    position: absolute;
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    margin-top: 30px;
}
.search-box input[type="search"] {
    background-color: rgb(28, 28, 28);
    width: 200px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 20px; /* 两侧半圆 */
    outline: none;
}
.search-box input[type="search"]:focus {
    border-color: #333;
}
.search-box .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #999;
    font-size: 16px;
}

.about-box {
    background-color: rgb(28, 28, 28);
    position: absolute;
    display: inline-block;
    text-align: left;
    margin-right: 40px;
    margin-top: 100px;
    overflow: visible;
}

.about-box h1 {
    font-size: 1.85rem;
    font-weight: bolder;
    /* font-family: monospace; */
    color :rgb(137, 135, 135);
    margin-bottom: 0.7rem;
}

.about-box p {
    font-size: 1.05rem;
    /* font-family: monospace; */
    color :#919292;
}

.content {
    margin-left: 28%;
    margin-top: 3%;
    margin-bottom: 6%;

    width: 64%;
    flex-wrap: wrap;
    overflow: hidden;

    display: flex;
    float: none
}

.article {
    margin-bottom: 20px;
    width: 66%;

    border: 1px solid #a4a4a4;
    border-radius: 10px;

    background-color: transparent;
    /* font-family: monospace; */

    display: inline-block;

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.article:hover {
    border-color: #ffffff;
}

.article h1 {
    font-size: 2.5rem;
    color:#c5c7c7;
    margin-bottom:  10px;
}

.article p {
    font-size: 1.2rem;
    color: #919292;
}

.article .time {
    font-size: 1rem;
    color: #918d8d;
    /* text-align: right; */
}

.inf {
    background-color: rgb(28, 28, 28);
    width: 500px;
    height: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
    border: none ;
    border-bottom-width: 20px;
    outline: none;
    font-size: 16px;
}

.button-right {
    background-color: rgb(30, 30, 30);
    width: 13%;
    height: 30px;
    border-radius: 0;
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(158, 152, 152);
}

.button-right:hover {
    background-color: rgb(30, 30, 30);
}