<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
    <link rel="stylesheet" href="css/console.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 获取按钮元素
            var submitButton = document.getElementById('submitButtonUser');

            // 为按钮添加点击事件监听器
            submitButton.addEventListener('click', function() {
                // 提交第一个表单
                document.getElementById('userinfo').submit();

                // 提交第二个表单
                document.getElementById('userimg').submit();
            });
        });
    </script>
</head>
<body>
    <h1 class="head" th:text="${self.getConsole()}"></h1>
    <div class="box-area">
        <div class="userbox">
            <form method="post" action="updateUser" id="userinfo">
                <h1>个人信息</h1>
                <div class="info">
                    <p>昵称：</p>
                    <input type="text" name="name" th:placeholder="${self.getName()}">
                </div>
                <div class="info">
                    <p>邮箱：</p>
                    <input type="text" name="email" th:placeholder="${self.getEmail()}">
                </div>
                <div class="info">
                    <p>密码：</p>
                    <input type="password" name="password" placeholder="新密码">
                </div>
                <input type="hidden" th:value="${self.getId()}" name="userId">
            </form>
            <form enctype="multipart/form-data" method="post" action="updateImg" id="userimg">
                <div class="info">
                    <p>头像：</p>
                    <input type="file" name="img" placeholder="新头像" >
                    <input type="hidden" th:value="${self.getName()}" name="name">
                </div>
                <input type="hidden" th:value="${self.getId()}" name="userId">
            </form>
            <button id="submitButtonUser">提交修改</button>
        </div>

        <div class="articlebox">
            <h1>文章管理</h1>
            <div class="add-new">
                <p>添加文章：</p>
                <form action="addArticle" method="post">
                    <input type="file" value="添加文章">
                    <input type="submit" value="提交">
                </form>
            </div>
        
            <div class="article" th:each="article : ${articles}">
                <p th:text="${article.getArticleTime()}"></p>
                <p class="title" th:text="${article.getTitle()}"></p>
                <div class="op">
                    <form method="post" action="deleteArticle">
                        <input type="hidden" th:value="${article.getId()}">
                        <input type="submit" value="删除">
                    </form>
                    <form method="post" action="updateArticle">
                        <input type="hidden" th:value="${article.getId()}" name="articleId">
                        <input type="text" placeholder="标题" name="title">
                        <input type="text" placeholder="描述" name="descr">                            <input type="submit" value="修改">
                    </form>    
                </div>
            </div>
        </div>
    </div>   

    <div class="box-area2">
        <div class="manage-box">
            <h1>用户管理</h1>

            <div class="user" th:each="u : ${users}">
                <p class="id" th:text="${u.getId()}"></p>
                <p class="name" th:text="${u.getName()}"></p>
                <div class="op1">
                    <div class="authority">
                        <p>修改权限：</p>
                        <form method="post" action="updateAuthority">
                            <input type="hidden" name="selfName" th:value="${self.getName()}">
                            <input type="hidden" name="userId" th:value="${u.getId()}">
                            <input type="text" th:placeholder="${u.getAuthority()}" name="authority">
                            <input type="submit" value="修改">
                        </form>
                        <form method="post" action="deleteUser">
                            <input type="hidden" name="selfName" th:value="${self.getName()}">
                            <input type="hidden" name="userId" th:value="${u.getId()}">
                            <input class="delete" type="submit" value="删除">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="noticebox">
            <h1>更新通知</h1>
            <form method="post" action="updateNts">
                <input type="hidden" name="selfName" th:value="${self.getName()}">
                <textarea rows="7" name="nts" th:placeholder="${nts}"></textarea>
                <input type="submit" value="提交">
            </form>
        </div>
    </div>
</body>
</html>