<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/js-sha256/src/sha256.js"></script> -->
    <meta charset="UTF-8">
    <title>UESTC-Blog</title>
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
<div class="container-left">
    <div class="sidebar">
        <!--            <div class="sidebar_content">-->
        <br><br>
        <img src="img/home.jpg" class="HeadImage">
        <br>
        <h1>WhaleFall</h1>
        <p>Don't cry, I am just a fish.</p>
        <br>

        <form action="show" method="get">
            <button class="column-button"><i class="fa fa-th-list icon"></i> Home</button>
        </form>

        <form action="archives" method="get">
            <button class="column-button"><i class="fa fa-th-list icon"></i> Archives</button>
        </form>

        <form action="board" method="get">
            <button class="column-button"><i class="fa fa-th-list icon"></i> Board</button>
        </form>

        <form action="console" method="get" th:if="${authority != 0}">
            <button class="column-button"><i class="fa fa-th-list icon"></i> Console</button>
        </form>
    </div>
</div>

<div class="container-right">
    <div class="search-box">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search...">
    </div>

    <div class="about-box">
        <div class="notification-box">
            <h1>通知</h1>
            <p th:text="${nts}"></p>
            <br />
        </div>
        <div class="message-box">
            <h1>最新留言</h1>
            <div th:each="msg : ${msgs}">
                <p class="userName" th:text="${msg.getUserName()}"></p>
                <p class="msg" th:text="${msg.getMsg()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="article" th:if="${content} == 1" th:each="article : ${articles}">
        <h1 th:text="${article.getTitle()}"></h1>
        <p th:text="${article.getDescription()}"></p>
        <p class="time" th:text="${article.getArticleTime()}"></p>
    </div>

    <div class="archive" th:if="${archives} == 1" th:each="subList : ${primaryList}">
        <h1 th:text="${subList.get(0).getArticleTime().substring(0, 7)}"></h1>
        <div th:each="article : ${subList}">
            <h4 th:text="${article.getTitle()}"></h4>
        </div>
    </div>


    <div class="message" th:if="${board} == 1" th:each="msg : ${msgs_all}">
        <div><img class="headimage" th:src="${msg.getImgPath()}"></div>
        <div class="divh1"><h1 th:text="${msg.getUserName()}"></h1></div>
        <div class="divp">
            <p th:text="${msg.getMsg()}"></p>
        </div>
    </div>

    <!--        <div th:if="${board} == 1 && ${authority} == 3">-->

    <div th:if="${board == 1 && (authority == 3 || authority == 2)}">
        <div class="hidediv"><h1> </h1></div>
        <form class="input-box" method="post" action="sendMsg">
            <textarea rows="3" type="text" id="msg-input" name="msg"></textarea>
            <input type="submit" value="留言">
        </form>
    </div>
</div>
</body>
</html>