<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/js-sha256/src/sha256.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>UESTC-Blog</title>
</head>

<body>
<form action="login" class="login">
    <p>Login</p>
    <input id="email" type="text" placeholder="email" required="required" name="email" autocapitalize="off"
           onkeyup="this.value=this.value.replace(/\s+/g,'')"/>
    <input id="password" type="password" placeholder="password" required="required" name="password" autocapitalize="off"
           onkeyup="this.value=this.value.replace(/\s+/g,'')"/>
    <p class="tip" th:text="${tipMsg}"></p>
    <br th:if="${errorMsg == null}">
    <input type="submit" class="btn" value="Submit">
</form>

</body>

</html>